
.fish {
    display: flex;
    margin: 1.5rem;
    padding: 1rem;
    border-radius: 10%;
    background-color: rgba(164, 215, 244, 0.5);
}

.headerFishes {
    margin: 0;
    padding: 1rem 2rem;
}

.fish__image {
    width: 30rem;
    align-self: center;
}
.fish__image img {
    width: 100%;
    height: auto;
    flex: 2 1 auto;
    padding-right: 1rem;
    border-radius: 10%;
    transition: transform 0.2s;
}

.fish__image img:active{
    transform: scale(1.6);
}

.fishInfo {
    flex: 2 1 auto;
}
.fishInfo p {
    margin: 0;
    font-weight: bold;
}
.fish__species {
    padding: 0.5rem;
    margin: 0;
}

.fish__name {
    padding: 0.5rem;
}

.fish__length {
    padding: 0.5rem;
}

.fish__diet{
    padding: 0.5rem;
}

.fish__harvestLocation {
    padding: 0.5rem;
}
