@import url(./fishes.css);
@import url(./locations.css);
@import url(./quotes.css);
@import url(./tips.css);

body {
    background-color: #E8F1F2;
    margin: 0;
}
.bodyHeader {
    background-color: #80C6EF;
    margin: 0;
    padding: 2rem;
}
.container {
    display: flex;
}
.quotesAndLocations {
    flex: 1;
    margin: 1rem 2rem;
}
.fishes {
    flex: 2;
    margin: 1rem 2rem;
}
.tips {
    flex: 1;
    margin: 1rem 2rem;
}