@import url(./fishes.css);
@import url(./locations.css);
@import url(./quotes.css);
@import url(./tips.css);

body {
    background-color: #E8F1F2;
}
.bodyHeader {

}
.container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.quotesAndLocations {
    flex: 1;
}
.fishes {
    flex: 2;
    padding-left: 5rem;
}
.tips {
    flex: 1;
}