body {
    background-color: #E8F1F2;
    width: 100%;
    margin: 0;
}
header {
    position: relative;
    height: auto;
    width: 100%;
    background-color: aquamarine;
    margin: 0;
    padding: 0;
}
header h1 {}
.main {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
}
.locations { 
    background-color: rgba(0, 0, 100, 0.5);
    flex: 0 1 auto;
}
.fish {

}
.tips {

}
